@import "tailwindcss";

@theme inline {
  /* Colors */
  --color-background: #f8faf9;
  --color-surface: #f8faf9;
  --color-surface-bright: #f8faf9;
  --color-surface-dim: #d8dada;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f4f3;
  --color-surface-container: #eceeed;
  --color-surface-container-high: #e6e9e8;
  --color-surface-container-highest: #e1e3e2;
  --color-surface-variant: #e1e3e2;

  --color-primary: #37602c;
  --color-primary-container: #4f7942;
  --color-primary-fixed: #c0f0ad;
  --color-primary-fixed-dim: #a4d393;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #d3ffc1;
  --color-on-primary-fixed: #022100;
  --color-on-primary-fixed-variant: #28501e;
  --color-inverse-primary: #a4d393;

  --color-secondary: #25686a;
  --color-secondary-container: #abebed;
  --color-secondary-fixed: #aeeef0;
  --color-secondary-fixed-dim: #92d2d3;
  --color-on-secondary: #ffffff;
  --color-on-secondary-container: #2a6c6e;
  --color-on-secondary-fixed: #002021;
  --color-on-secondary-fixed-variant: #004f51;

  --color-tertiary: #425a64;
  --color-tertiary-container: #5a727d;
  --color-tertiary-fixed: #cde6f4;
  --color-tertiary-fixed-dim: #b1cad7;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-container: #e4f5ff;
  --color-on-tertiary-fixed: #051e28;
  --color-on-tertiary-fixed-variant: #334a55;

  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error: #ffffff;
  --color-on-error-container: #93000a;

  --color-outline: #73796d;
  --color-outline-variant: #c2c9bb;
  --color-on-surface: #191c1c;
  --color-on-surface-variant: #42493e;
  --color-on-background: #191c1c;
  --color-inverse-surface: #2e3131;
  --color-inverse-on-surface: #eff1f0;
  --color-surface-tint: #3f6833;

  /* Border Radius */
  --radius: 0.125rem;
  --radius-sm: 0.125rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-2xl: 0.75rem;
  --radius-full: 9999px;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-surface);
  font-family: "Plus Jakarta Sans", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
